.header {
    position: fixed;
    top: 0;
    width:100%;
    height: 10px;
    padding: 20px;
    display: flex;
    z-index: 999;
    justify-content: space-between;

    transition-timing-function: ease-in;
    transition:all 0.5s ;
}

.header_logo{
    position: fixed;
    object-fit: contain;
    width: 100px;
    left:20px;
}

.header_usericon{
    position: fixed;
    object-fit: contain;
    width: 30px;
    right:20px;
}

.header_black {
    background-color: black;
    height: 15px;
}